<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4" style="height: 500px">
      <div class="col"></div>
      <div class="col-md-6 bg-white shadow">
        <div class="card bg-success d-flex align-items-center">
          <h4 class="text-white p-1">Create Task</h4>
        </div>
        <div class="shadow mt-2">
          <div class="input-group flex-column p-4 gap-2">
            <div>
              <label class="pb-2">Name</label>
              <input
                type="text"
                class="form-control p-3"
                placeholder="Enter Task"
                name="task"
                [(ngModel)]="addTaskValue"
                required=""
              />
            </div>
            <div>
              <label class="pb-2">Date</label>
              <input
                type="date"
                class="form-control p-3"
                placeholder="Enter Due Date"
                name="dueDate"
                [(ngModel)]="addDueDate"
                required=""
              />
            </div>
            <div class="d-grid gap-2 my-2">
              <button
                class="btn btn-outline-dark btn-lg"
                type="button"
                [disabled]="!addTaskValue"
                (click)="addTask()"
              >
                Add
              </button>
            </div>
          </div>
        </div>
        <!-- <p>{{taskArr|json}}</p> -->

        <app-todocard
          [taskArray]="taskArr"
          (deleteObj)="deleteTask($event)"
          (editObj)="editTask($event)"
        ></app-todocard>
      </div>

      <div class="col"></div>
    </div>
  </div>
</div>
