<div
  class="d-flex justify-content-center align-items-center bg-secondary-subtle"
  style="height: 100vh"
>
  <div
    class="shadow col-md-4 p-4 d-flex flex-column justify-content-center"
    style="height: 50%"
  >
    <p class="h1 text-center pb-4">Login</p>
    <form [formGroup]="loginForm">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          formControlName="email"
          placeholder="email@example.com"
        />
        <label for="floatingInput">Email</label>
        <div
          *ngIf="
            loginForm.controls['email'].invalid &&
            loginForm.controls['email'].touched
          "
          class="alert alert-danger mt-3"
        >
          <div *ngIf="loginForm.controls['email']">Enter Valid Email</div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          formControlName="password"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
        <div
          *ngIf="
            loginForm.controls['password'].invalid &&
            loginForm.controls['password'].touched
          "
          class="alert alert-danger mt-3"
        >
          <div *ngIf="loginForm.controls['password']">
            Password is required.
          </div>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button
          type="button"
          class="btn btn-success btn-lg my-4"
          [disabled]="loginForm.invalid"
          (click)="onSubmit()"
        >
          Log In
        </button>
      </div>
      <!-- <p>{{loginForm.value|json}}</p> -->
    </form>
  </div>
</div>
