<div class="container-fluid bg-light">
  <div class="container d-flex flex-row gap-3 flex-wrap justify-content-center">
    <div *ngFor="let task of taskArr; let i = index">
      <div class="card mt-4 shadow" style="width: 100%">
        <div
          class="d-flex flex-column flex-md-column flex-sm-column flex-lg-row align-items-md-center"
        >
          <div class="card-body col">
            <h5 class="card-title">{{ task.task_name | titlecase }}</h5>
            <h6 class="card-subtitle mb-2 fw-lighter text-primary">
              {{ task.date | date }}
            </h6>
            <h6 class="card-subtitle mb-2 fw-lighter text-body-secondary">
              Due On: {{ task.dueDate | date }}
            </h6>
            <p
              class="card-text"
              [ngStyle]="{ color: getFontColor(task.status) }"
            >
              Status: {{ task.status }}
            </p>
            <label>Comments</label>
            <form [formGroup]="commentForm">
              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  formControlName="comment"
                  placeholder="Leave a comment here"
                  style="height: 90px; width: 100%"
                >
                </textarea>
                <label for="floatingTextarea2"> {{ task.comment }}</label>
              </div>
              <p class="fw-lighter text-primary">
                Last Modified: {{ task.lastModified | date : "shortTime" }}
                {{ task.lastModified | date : "MMM dd" }}
              </p>
              <div class="d-flex justify-content-end">
                <button
                  class="btn btn-outline-primary"
                  type="button"
                  [disabled]="commentForm.invalid"
                  (click)="updateComment(task)"
                  aria-expanded="false"
                >
                  {{ task.comment ? "Update" : "Add Comment" }}
                </button>
              </div>
            </form>
            <!-- <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> -->
          </div>
          <div class="dropdown col align-self-flex-center">
            <button
              class="btn btn-link dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Update Status
            </button>
            <ul class="dropdown-menu dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  (click)="updateStatus(task, 'In Progress')"
                  >{{ "In Progress" }}</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="updateStatus(task, 'Completed')"
                  >{{ "Completed" }}</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="updateStatus(task, 'Blocked')"
                  >{{ "Blocked" }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
